*.so
build
__pycache__
*.pyc
*.pth
sparseconvnet.egg-info
.vscode
.idea
examples/ScanNet/datasets/simple_data/*
examples/ScanNet/ckpts/*
examples/ScanNet/datasets/scannetTrainSeq
examples/ScanNet/datasets/scannetValSeq
examples/ScanNet/datasets/scannet_data
examples/ScanNet/datasets/scenenn_cls10
examples/ScanNet/datasets/scenenn_data
examples/ScanNet/q.log
examples/ScanNet/runs
examples/ScanNet/.zt_*
examples/ScanNet/datasets/scannet*.zip
*.mat
examples/ScanNet/predictions/
examples/ScanNet/semantic_prediction/
examples/ScanNet/results/
examples/ScanNet/INTERRUPTED.pth
*.out
!.gitkeep
